{% extends "page.twig" %}

{% set title="Accounts" %}

{% block content %}
  <div class="row">
    <p>Manage your accounts here. These are distinct business entities, like your organization or clients, that will contain applications and have Account managers assigned to them.</p>
  </div>
  <div class="row ">
    <form method="get" action="/accounts">
      <div class="col s1 ">
        {% if isAdmin == true %}
          <a class="btn-floating btn-large modal-trigger hoverable" href="#modal-acc-create"><i class="material-icons">add</i></a>
        {% endif %}
      </div>
      <div class="col s5">
        <div class="input-field">
          <input type="text" class="validate" name="keyword" value="{{ keyword }}">
          <label for="keyword">Search text</label>
        </div>
      </div>
      <div class="col s4">
        <div class="input-field">
          <select class="input-field" name="direction">
            <option value="asc" {% if direction == "asc" %}selected{% endif %}>Ascending</option>
            <option value="desc" {% if direction == "desc" %}selected{% endif %}>Descending</option>
          </select>
          <label for="direction">Direction</label>
        </div>
      </div>
      <div class="col s2">
        <button class="btn" type="submit">Filter
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

  <div class="row table-header">
    <h6 class="col s10 col-height valign-wrapper">Name</h6>
    <h6 class="col s2 col-height valign-wrapper">Actions</h6>
  </div>
  {% for account in accounts %}
    <div class="row hoverable">
      <div class="col s10 col-height valign-wrapper">
        <a href="/applications?account_id={{ account.accid }}" title="View applications under this account.">{{ account.name }}</a>
      </div>
      <div class="col s2 col-height valign-wrapper">
        {% if isAdmin == true and account.accid != 1 %}
          <a class="btn-floating btn-small hoverable">
            <i class="material-icons modal-acc-edit-trigger" accid="{{ account.accid }}" acc-name="{{ account.name }}" title="Edit this account.">edit</i>
          </a>
          <a class="btn-floating btn-small delete hoverable">
            <i class="material-icons modal-acc-delete-trigger" accid="{{ account.accid }}" acc-name="{{ account.name }}" title="Delete this account.">delete</i>
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  {% set url = "/accounts?keyword=" ~ keyword ~ "&order_by=" ~ order_by ~ "&dir=" ~ dir %}
  {% include 'partials/pagination.twig' %}

  {% include 'modals/acc_create.twig' %}

  {% include 'modals/acc_edit.twig' %}

  {% include 'modals/acc_delete.twig' %}

{% endblock %}
