<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li>
                    <a href="/" class="logo-wrapper valign-wrapper" >
                        <img src="/images/apiopenstudio_logo_colour.png" />
                        <span class="logo-text">ApiOpenStudio</span>
                    </a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                {% for key,value in menu %}
                    <li>
                        {% if value is iterable %}
                            <a class="dropdown-trigger" href="#!" data-target="dropdown{{ key }}">{{ key }}</a>
                            <ul id='dropdown{{ key }}' class='dropdown-content'>
                                {% for subkey,subvalue in value %}
                                    <li><a href="{{ subvalue }}">{{ subkey }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <a href="{{ value }}">{{ key }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        {% for key,value in menu %}
            <li>
                <a href="{{ value }}">{{ key }}</a>
            </li>
        {% endfor %}
    </ul>
</header>
